@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  background: #2d2d2d;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 800px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cdn.onebauer.media/one/media/5d94/d7c8/c11f/b27f/c031/c3fc/mcu-endgame-main.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg);
  background-size: cover;
  box-shadow: 0px 0px 50px -2px #00000091;
}

.toggles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000091;
}

.toggles .left {
  position: relative;
  height: 550px;
  width: 400px;
  float: left;
  /* display: inline-block; */
}
.toggles .right {
  position: relative;
  height: 550px;
  width: 400px;
  float: right;

  /* display: inline-block; */
}

.toggles .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 20px;
}

.button {
  color: white;
  bacgkround: transparent;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
  /* background: white; */
  text-shadow: none;
  display: inline-block;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 15px;
}

.content {
  height: 550px;
  width: 400px;
  background: #f2f4f6;
  position: absolute;
  left: 0;
  transition: left 300ms ease-in-out;
}

.content-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f2f4f6;
  padding: 40px;
}
.content-view.hide {
  display: none;
}

.title {
  font-size: 30px;
  margin-bottom: 40px;
}

input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid grey;
  padding: 10px 5px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.inputs {
  display: flex;
  flex-flow: row wrap;
}

.inputs input {
  flex: 1 100%;
}
.inputs input.half {
  flex: 2 0px;
}

.main-button {
  background: #1d1d20;
  padding: 10px 20px;
  text-align: center;
  color: #f2f4f6;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
}

.content.right {
  left: 400px;
}

.error{
  color: #de3d3d;
  font-size: 12px;
  padding-top: 20px;
  text-align: center;
}
